.Project {
  display: grid;
  border-radius: 0.5rem;
  background-color: #efeaea;
  gap: 2rem;
  min-height: 20rem;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0rem 0rem 0.2rem 0.1rem rgba($color: #000000, $alpha: 0.2);
  width: 80%;

  @media only screen and (max-width: 25em) {
    & {
      grid-template-columns: none;
      width: 90%;
    }
  }

  &_Info {
    display: grid;
    gap: 3rem;
    padding: 1rem;
    grid-template-columns: min-content 1fr;

    &__Identifier {
      font-size: 2rem;
      align-self: center;
    }

    &__Container {
      align-items: center;
      gap: 2rem;
      grid-template-rows: max-content max-content;
      display: grid;
      font-size: 1.6rem;
    }
  }
  &_Actions {
    align-items: center;
    justify-items: center;
    padding: 1rem;
    display: grid;
    gap: 1rem;

    &__Button {
      width: 80%;
      display: grid;
      gap: 1rem;
      grid-template-columns: max-content max-content;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
    }
    &__SVG {
      width: 1.6rem;
      height: 1.6rem;
      fill: #fff;
    }
  }
}
