.SideDrawerToggle {
  display: grid;
  width: 5rem;
  height: 100%;
  box-sizing: border-box;
  margin-left: 1rem;
  justify-items: center;
  align-items: center;
  cursor: pointer;

  &:hover div {
    box-shadow: 0rem 0rem 0.5rem #fff;
  }
  & div {
    height: 0.5rem;
    width: 100%;
    background-color: #fff;
  }

  @media only screen and (min-width: 56.25rem) {
    & {
      display: none;
    }
  }
}
