.Dashboard {
  min-height: 100vh;

  &_Header {
    display: grid;
    &__Button {
      justify-self: start;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      margin-top: 5rem;
      border-radius: 0.5rem;
    }
  }
}
