// MARGINS...
> MT_Large {
  margin-top: 5rem;
}
.MT__Medium {
  margin-top: 3rem;
}
.MT__Small {
  margin-top: 1.5rem;
}
.MB__Large {
  margin-bottom: 5rem;
}
.MB__Medium {
  margin-bottom: 3.5rem;
}

.MB__Small {
  margin-bottom: 2rem;
}
.Paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  @media only screen and (max-width: 25em) {
    & {
      font-size: 1.3rem;
    }
  }
}
// Uderlines..
.Underline {
  border-bottom: 1px solid #282c34;
}
// HEADINGS...

.Primary__Heading {
  font-size: 5rem;
  font-weight: 800;

  @media only screen and (max-width: 56.25em) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 25em) {
    font-size: 3rem;
  }
}

.Secondary__Heading {
  font-size: 4rem;
  font-weight: 800;
  background-image: linear-gradient(
    to bottom right,
    #1e2a2c,
    #2d7983f1,
    #21464bb9
  );
  background-clip: text;
  color: transparent;

  @media only screen and (max-width: 56.25rem) {
    font-size: 3rem;
  }
}

.Tertiary__Heading {
  font-size: 2rem;
  font-weight: 500;

  @media only screen and (max-width: 56.25em) {
    font-size: 1.8rem;
  }
}
.Button {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5rem;
  background-image: linear-gradient(-45deg, #3cf0b4, #d4850e, #28d34d, #820f9c);
  background-size: 600%;
  outline: none;
  border: none;
  cursor: pointer;
  animation: anime 20s linear infinite;
  &:hover {
    text-shadow: 1px 1px 2px #fff;
  }

  &:hover {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  }

  &:active {
    transform: scale(0.97);
  }
  &:disabled {
    cursor: not-allowed;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ShowHidePasswordIcon {
  cursor: grab;
  position: absolute;
  fill: #494848;
  right: 2rem;
  top: 1.5rem;
  &:active {
    cursor: grabbing;
  }
}
.Link {
  justify-self: start;
  margin-top: 3rem;
  margin-left: 3rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #000;
  background-color: #d3d3d3;
  &:hover,
  &:active {
    color: #fff;
    background-color: #474545;
  }

  @media only screen and (max-width: 25em) {
    font-size: 1.3rem;
  }
}
.Loader__Centered {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.Pagination {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(8, min-content);
  justify-content: center;
  list-style: none;
  &_LinkContainer {
    font-size: 1.8rem;
    cursor: pointer;
    border: 1px solid #800000;
    padding: 0.5rem 1rem;
    &__Active {
      background-image: linear-gradient(
        to bottom right,
        #800000,
        #dc143c,
        #660033
      );
    }

    &__Link {
      text-decoration: none;
      color: #800000;

      &_Active {
        color: #fff;
      }
    }
    &:hover,
    &:active {
      background-image: linear-gradient(
        to bottom right,
        #800000,
        #dc143c,
        #660033
      );
    }
    &:hover &__Link,
    &:active &__Link {
      color: #fff;
    }
  }
}

.InputLoader {
  display: grid;
}
