.ProjectTask {
  display: grid;
  gap: 2rem;
  background-color: #f5f2f2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0rem 0rem 0.2rem rgba($color: #000000, $alpha: 0.5);

  &_Content {
    display: grid;
    gap: 1rem;
    justify-items: center;

    &__ButtonContainer {
      display: grid;
      gap: 1rem;
    }

    &__Summary {
      padding: 1rem;
      font-size: 1.7rem;
    }
  }

  &_Heading {
    box-shadow: 0rem 0rem 0.2rem rgba($color: #000000, $alpha: 0.2);
    padding: 1rem;
  }

  &_Low {
    background-color: #0000ff71;
  }
  &_Medium {
    background-color: #ffff007c;
  }
  &_High {
    background-color: #ff000079;
  }
}
