.Footer {
  // background-image: linear-gradient(#045a40, #116d51, #089b6f);
  background-image: linear-gradient(
    to right bottom,
    #011f26,
    #025159,
    #569ea6,
    #027373,
    #012840
  );
  min-height: 10vh;
  padding: 3rem 1rem;
  width: 100%;
  display: grid;
  color: #fff;
  grid-gap: 3rem;
  &_Navigation {
    border-top: 1px solid #eeeaea;
    display: grid;
    grid-gap: 1rem;
    list-style: none;
  }

  &_Link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.6rem;
    transition: all 0.3s;
    color: #f7f7f7;

    &:hover {
      box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.4);
      -webkit-transform: rotate(2deg) scale(1.2);
      transform: rotate(2deg) scale(1.2);
      color: #28b485;
    }
  }
  &_Brand {
    fill: #0aa0ff;
    justify-self: center;
    height: 8rem;
    width: 8rem;
  }
  &_Container {
    margin-top: 3rem;
    grid-gap: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &_SocialMedia {
    margin-top: 6rem;
    &__Icon {
      margin-right: 2rem;
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      fill: #fff;
      &:hover {
        fill: #0ed6b5;
      }
    }
    &__Heading {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &_Copyright {
    border-top: 1px solid #eeeaea;
    justify-self: center;
    font-size: 1.6rem;
  }

  &_ImageContainer {
    height: 15rem;
    width: 100%;

    &__Image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}
