.Modal {
  position: fixed;
  z-index: 500;
  color: #fff;
  background-image: linear-gradient(to bottom right, #eb1010, #af2525, #fa8072);
  width: 80%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 2rem;
  left: 10vw;
  top: 30vh;
  transition: all 0.3s ease-in-out;

  @media only screen and (max-width: 37.5em) {
    padding: 1rem;
  }

  &__Show {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  &__Hide {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
}
